# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.venv/

# Environment variables
.env
*.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Unit test / coverage reports
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor files
.vscode/
.idea/

# macOS / Windows junk
.DS_Store
Thumbs.db

# Logs
*.log
