@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body {
    background-color: #000000;
    font-family:Roboto Mono, sans-serif;
    overflow: hidden;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.menu-div {
    background-color: #b8b5b9;
    border: 10px solid #868188;
    border-radius: 30px;
    margin: 0;
    padding: 0px;
    box-shadow: inset -6px -6px 15px #868188;
}

.info-div {
    background-color: #3a3858;
    color: #f2f0e5;
    border: 10px solid #868188;
    border-radius: 30px;
    margin: 0;
    padding: 0px;
    box-shadow: inset -6px -6px 15px #666092;
}

.info-text {
    font-size: 32px;
    text-shadow:
        1px 1px 0px #9a9a97,
        2px 2px 0px #6f6776,
        3px 3px 0px #666092,
        4px 4px 0px #5d6872;
}

/*Button*/
/* Center content vertically and horizontally in buttons */
.btn-clean {
    height: 75px;
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b5b9;
    color: #5f556a !important;
    border-radius: 50%;            /* Makes it a perfect circle */
    padding:0px;                  /* Padding around the button */
    font-size: 14px;
    overflow: hidden;              /* Ensure no hidden elements affect alignment */
    transition: all 0.2s ease-in-out;
}

/* Customize hover effect */
.btn-clean:hover {
    background-color: #b8b5b9 !important;
    color: #4b80ca !important;
}

/* Customize active effect */
.btn-clean:active, .btn-clean:focus {
    background-color: #868188!important;
    color: #68c2d3 !important;
    box-shadow: inset -20px 20px 5px #646365;
    border: 5px solid #a2dcc7;
    outline: none; /* Remove the default outline */
}

/* Default icon color */
.icon-style {
    font-size: 3rem; /* Increase or decrease as needed */
    color: inherit;

}

/* Alt button */
.btn-clean-alt {
    outline: none; /* Remove the default outline */
    height: 125px;
    width: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #b8b5b9 !important; /* Background color */
    color: #a77b5b !important; /* Text/icon color */
    border-radius: 20%; /* Makes it a perfect circle */
    padding: 0px; /* Padding around the button */
    overflow: hidden; /* Ensure no hidden elements affect alignment */
    transition: all 0.2s ease-in-out; /* Smooth transition for hover effect */
    box-shadow: 0px 12px 18px rgba(0, 0, 0, 0.3); /* Enhanced shadow for hover effect */
}

/* Customize hover effect */
.btn-clean-alt:hover {
    background-color: #b8b5b9 !important; /* Hover background color */
    color: #a77b5b !important; /* Hover text/icon color */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow for hover effect */
}

/* Customize active and focus effect */
.btn-clean-alt:active,
.btn-clean-alt:focus {
    background-color: #b8b5b9 !important; /* Hover background color */
    color: #d3a068 !important; /* Text color when active */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* Enhanced shadow for hover effect */
    outline: none; /* Remove the default outline */
}

/* Button pressed state (stays pressed) */
.btn-clean-alt.pressed {
    background-color: #b8b5b9; /* Change background for pressed */
    color: #d3a068; /* Change text/icon color for pressed */
    box-shadow: inset 0px 6px 12px rgba(0, 0, 0, 0.4); /* Inset shadow to make it look pressed */
    transform: translateY(2px); /* Slightly push down to show it's pressed */
}

/* Default icon color */
.icon-style-alt {
    font-size: 5rem; /* Increase or decrease as needed */
    color: inherit;

}

/* dbc.Card */

/* Define the custom style for dbc.Card */
.clean-card {
    background-color: #868188;
    color: #f2f0e5;
    border-radius: 50px; /* Rounded corners */
    box-shadow: inset 0 8px 16px #45444f;
    padding: 20px; /* Internal padding for content */
    transition: transform 0.2s ease-in-out; /* Smooth scale on hover */
}

.clean-card:hover {
    color: #a2dcc7; /* Update text color */
}

.clean-card-title {
    color: #f2f0e5;
    font-weight: bold;
}

.clean-card-text {
    color: #f2f0e5; /* Dark gray text color */
    line-height: 1.5; /* Line height for better readability */
    font-size: 20px;
}

.cool-card-body {
    background-color: #d3a068;
    border-radius: 50px; /* Rounded corners */
    box-shadow: inset 0 8px 16px #646365;
}